<div class="container">
  <h2 class="center-text">LIST ROOMS FOR RENT</h2>
  <div class="row">
      <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="rooms[0].imagePath" [alt]="rooms[0].title">
              </div>
            <div class="carousel-caption">
              <h3>{{rooms[0].title}}</h3>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="rooms[1].imagePath" [alt]="rooms[1].title">
            </div>
            <div class="carousel-caption">
                <h3>{{rooms[1].title}}</h3>
                            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="rooms[2].imagePath" [alt]="rooms[2].title">
              </div>
            <div class="carousel-caption">
                <h3>{{rooms[2].title}}</h3>
                           </div>
          </ng-template>
        </ngb-carousel>

  </div>

  <div class="mt-5"></div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-accordion multi="true" *ngIf="rooms.length >0">
    <mat-card class="my-card" *ngFor="let room of rooms">
      <mat-card-header>
        <mat-card-title> {{room.title}}</mat-card-title>
        <mat-card-subtitle>{{room.address}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="room.imagePath" [alt]="room.title">

      <mat-card-content>
        <label>Description:</label><br>
        <p>{{ room.description }}</p>
        <label>Type:</label><br>
        <p *ngIf=" room.typeid == 1">Single</p>
        <p *ngIf=" room.typeid == 2">Double</p>
        <p *ngIf=" room.typeid == 3">Family</p>
        <p *ngIf=" room.typeid == 4">Family Deluxe</p>
        <label>Price:</label><br>
        <p>{{ room.price }} VND</p>
      </mat-card-content>
      <mat-card-actions *ngIf="!userIsAuthenticated">
        <button mat-raised-button color="primary">RENT</button>
        <button mat-raised-button>LIKE</button>
        <button mat-raised-button>SHARE</button>
      </mat-card-actions>
      <mat-card-actions *ngIf="userIsAuthenticated">
          <a mat-button color="primary" [routerLink]="['/edit', room.id]">EDIT</a>
          <button mat-button color="warn" (click)="onDelete(room.id)">DELETE</button>
        </mat-card-actions>
    </mat-card>
  </mat-accordion>

  <mat-paginator [length]="totalPage" [pageSize]="perPage" [pageSizeOptions]="pagesizeOption"
    (page)="onchangedPage($event)" *ngIf="rooms.length >0"></mat-paginator>
  <h3 class="center-text" *ngIf="!isLoading && rooms.length <=0">No rooms added yet!</h3>
</div>
