<h2 class="center-text">LIST ROOMS FOR RENT</h2>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="rooms.length >0">
  <mat-expansion-panel *ngFor="let room of rooms">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ room.title }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>description: {{ room.description }}</p>
    <p>address: {{ room.address }}</p>
    <p>price: {{ room.price }}</p>
    <p>discount: {{ room.discount }}</p>
    <p *ngIf=" room.typeid == 1">room type:  Single</p>
    <p *ngIf=" room.typeid == 2">room type:  Double</p>
    <p *ngIf=" room.typeid == 3">room type:  Family</p>
    <p *ngIf=" room.typeid == 4">room type:  Family Deluxe</p>

    <mat-action-row>
        <a mat-button color="primary" [routerLink]="['/edit', room.id]">EDIT</a>
        <button mat-button color="warn" (click)="onDelete(room.id)">DELETE</button>

    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<h3 class="center-text"  *ngIf="!isLoading && rooms.length <=0">No rooms added yet!</h3>
